node_modules
.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/dist
/out
/icon-build
/build
/doc
/ffmpeg
/app.log
/ts-dist
package-lock.json
/build-resources
.DS_Store
