#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  border:0px;
}

/* Framless CSS: */
* {margin: 0; padding: 0!important; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0; border:0px;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1A2933;
  color: #FFF;
  border:0px;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

/* ~~~~~~~~~~~~~ */
#frameWrapper {
  border: 1px solid #48545c;
  overflow-y: hidden;
}


#titlebar {
  top:0px;
position: fixed;
height: 40px;
width: calc(100%); /*Compensate for body 1px border*/
background: #254053;
}

#titlebar #dragRegion {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
  border:0px;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#min-button {
  grid-column: 1;
}

#max-button,
#restore-button {
  grid-column: 2;
}

#closeButton {
  grid-column: 3;
}


@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

.titlebarLogo {
  z-index: 3;
  height: 30px;
  margin-left: 5px;
}

.titlebarText {
  margin-left: 30px;
  font-size: 15px;
}

.titlebarLogoSquare {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  background: #7762ca;
  width: 50px;
}
#windowTitle{
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 11px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#titlebar #dragRegion {
  display: grid;
  grid-template-columns: auto 138px;
}

.windowButtonIcon {
  height: 20px;
  width: 20px;
}

#window-controls .button {
  fill: white;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#closeButton:hover {
  background: #E81123 !important;
}

#closeButton:active {
  background: #F1707A !important;
}

#closeButton:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}