.fileUploader:hover {
    cursor: pointer;
    border: 2px dashed white !important;
}

.fileUploader.dragOver {
    border-color: white;
}

.fileUploader {
    width:93%;
    border: 2px dashed grey;
}

.fileUploaderBox {
    text-align: center;
    padding: 20px;
}

.fileUploaderBox button {
    cursor: pointer;
}

.fileUploaderBox button:hover {
    cursor: pointer;
}