#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index:7777;
}
.hidden {
  display: none;
}

#uploadTitle{
  font-size: 30px !important;
}
#main {
  height: calc(100% - 32px);
  margin-top: 29px;
  padding: 20px;
  overflow-y: auto;
}

#uploadTitle{
    font-size: 16px;
}

.renders-modal-content{
  width:250%!important;
  max-width: none !important;
  min-width: 200px !important;
  margin: 1.75rem auto !important;
  position: absolute;
  right: 10px!important;
  left: 0px!important;
  height: 85%;
}



.dd-container{
  display:block;
}

label{
  min-width: 100px;
}

.renderJobsIconCircle{
  right: 3px;
  height: 20px!important;
  width: 20px!important;
  display:none!important;
  position: absolute;
  color: #17ff4c;
  margin-top: 18px;
}

.uploadOptionBox{
  border:1.5px solid #CED4DA; 
  border-radius:4px;
  padding:5px;
  white-space: nowrap;
  overflow: hidden;
}

.addCustomColor{
  padding:1px;
  cursor:pointer;
  max-width: 300px;
}

.addCustomColor:hover{
  background:rgb(202, 202, 202);
}

.colorBox{
  cursor:pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  vertical-align: middle;
  display: inline-block;
}

.selectedColorBox{
  border:4px solid rgb(142, 250, 142);
  padding:3px;
  margin:3px;
}

.cursorPointer{
  cursor:pointer;
}

.sidebarText{
  overflow: hidden;
  white-space: nowrap;
}

.album-col{
  width:100%;
  min-width:140px;
}
.settingsCol{
  min-width:126px !important;
}
.changeDir{
  border:1.5px solid #CED4DA; 
  border-radius:4px;
  padding:5px;
  white-space: nowrap;
  overflow: hidden;
}

select:hover{
  cursor:pointer;
  background:#d6e0eb;
}
.changeDir:hover{
  cursor:pointer;
  background:#d6e0eb;
}

.form-control{
  width:100% !important;
  padding-left: 0px !important;
}

.dropdown-menu li{
  width: 500px; white-space: normal;overflow: hidden;
}
.img-thumbnail {
  width:75px;height:75px;
}

.bs-example{
  margin: 50px;
}
.bs-example a{
    font-size: 22px;        
    text-decoration: none;
    margin: 0 10px;
}

.track-name{
  width: 0 !important;
  white-space: nowrap;
}

.imgDropdown{
  width: 30px;
  height: 30px;
}

.optionsContainer{
  width: 90% ;
  padding-right: 0px; 
  padding-left: 0px; 
  margin-right: 0px; 
  margin-left: 0px; 
  flex-wrap: nowrap;
}

.uploadSelection{
  width:70%!important;
}

.form-inline{
  display:inline !important;
}

.left-align-col{
  padding-left: 10px !important;
}

select.form-control{
  display:inline-block
}

.sidebarUploadImg{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.scroll{
  margin-right: 15px;
  overflow:auto;
  overflow-x:scroll;
}

.sidebar-selected{
  background:white!important;
  color:#2C1C35!important;
}.sidebar-selected:hover{
  background:white!important;
  color:#2C1C35!important;
}

#deleteAllBox:hover {
  color: rgb(204, 29, 29);
}

/* modal */
.modal-dialog{
  min-width: 200px !important; 
  max-width: 500px !important;
  margin: 1.75rem auto !important;
  position:absolute;
  right:10px!important;
  left:60px!important;
  height:100%;
  overflow-y: initial !important
}

.modal-content{

  min-width: 200px !important; 
  max-width: 500px !important;
  margin: 1.75rem auto !important;
  position:absolute;
  right:10px!important;
  left:0px!important;
  height:85%;
}

.modal-body{
  height: 80vh;
  overflow-y: auto;
}
.modal-open .modal{
  overflow-y: hidden !important;
}
/* custom icon hover color */
.custom-svg:hover g{
  fill:white;
}
.svg-selected g{
  fill:white;
}
.page-selected{
  color:white !important;
}

.svg-selected{
  color:white !important;
  background:#2C1C35;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow:hidden;
}
#wrapper.toggled {
  padding-left: 200px;
}
#sidebar-wrapper {
  margin-left: 0px;
  top:40px;
  /* z-index: 1000; */
  position: fixed;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #2C1C35;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}
#page-content-wrapper {
  color:#2C1C35;
  width: 100%;
  /* position: absolute; */
  margin-left: 30px;
  /* overflow:auto;  */
}
#wrapper.toggled #page-content-wrapper {
  /* position: absolute; */
  margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 43px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li :hover {
  text-decoration: none;
  color: #fff ;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


/* sidebar css: */
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1;  Stay on top */
  top: 40px; /* Stay at the top */
  left: 0;
  z-index:2000;
  /* background-color: #111;  Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  height: 43px;
  padding: 0px 8px 6px 11px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /*
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  */
}

/* Framless CSS: */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background: #254053;
  color: #FFF;
}
h1 {margin: 0 0 10px 0; font-weight: 600; line-height: 1.2;}
p {margin-top: 10px; color: rgb(0, 0, 0);}

body {
    /* border: 1px solid red; */ /* #48545c; */
    overflow-y: hidden;
  }
  
  #titlebar {
      top:0px;
    display: block;
    position: fixed;
    height: 40px;
    width: calc(100%); /*Compensate for body 1px border*/
    background: #254053;
  }
  


  #titlebar {
    padding: 4px;
  }
  
  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #titlebar {
    color: #FFF;
  }
  
  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #min-button {
    grid-column: 1;
  }
  #max-button, #restore-button {
    grid-column: 2;
  }
  #close-button {
    grid-column: 3;
  }

  @media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls {
    -webkit-app-region: no-drag;
  }
  
  #window-controls .button {
    user-select: none;
  }
  #window-controls .button:hover {
    background: rgba(255,255,255,0.1);
  }
  #window-controls .button:active {
    background: rgba(255,255,255,0.2);
  }
  
  #close-button:hover {
    background: #E81123 !important;
  }
  #close-button:active {
    background: #F1707A !important;
  }
  #close-button:active .icon {
    filter: invert(1);
  }
  
  #restore-button {
    display: none !important;
  }

  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }
  
  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 11px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
  }
  
  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }
  
  .maximized #window-title {
    margin-left: 12px;
  }
  
  .maximized #restore-button {
    display: flex !important;
  }
  
  .maximized #max-button {
    display: none;
  }

  