
  #window-title-text{
    padding-left:10px !important;
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    padding-top:0px !important;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a,
  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .active{
    color: black !important;
    background: #f1f1f1 !important;
    text-decoration: none !important;
  }
  .active:hover{
    color: black !important;
    background: #f1f1f1 !important;
    text-decoration: none !important;
  }

  /* On mouse-over */
  .sidenav a:hover,
  .dropdown-btn:hover {
    color: #f1f1f1;
    text-decoration: none;
  }

  /* Main content */
  #main {
    /* padding: 20px; */
    height:100%;
    z-index:10;
    /* background: rgb(119,136,112); 
    padding-top: 32px; */
    overflow-y: auto;
  }

  .main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

   
 /* main page content css */
 html {
    height: 100%;
  }

  body {
      
    font-family: "Segoe UI", sans-serif;
    background: rgb(119, 136, 112);
    color: #FFF;
    height: 100%;
  }


  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
  }

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
  /* frameless window titlebar css */
  #titlebar {
    z-index: 99;
    background: #525252f5;
    color: black;
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% );
  }

  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }

  #titlebar {
    padding: 4px;
  }

  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #titlebar {
    color: #FFF;
  }

  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }

  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;

  }

  .maximized #window-title {
    margin-left: 12px;
  }

  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  #window-controls {
    -webkit-app-region: no-drag;
  }

  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
    #window-controls .icon {
      width: 10px;
      height: 10px;
    }
  }

  #window-controls .button {
    user-select: none;
  }

  #window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  #window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
  }

  #close-button:hover {
    background: #E81123 !important;
  }

  #close-button:active {
    background: #F1707A !important;
  }

  #close-button:active .icon {
    filter: invert(1);
  }

  #min-button {
    grid-column: 1;
  }

  #max-button,
  #restore-button {
    grid-column: 2;
  }

  #close-button {
    grid-column: 3;
  }

  #restore-button {
    display: none !important;
  }

  .maximized #restore-button {
    display: flex !important;
  }

  .maximized #max-button {
    display: none;
  }

  /* auto update message popup css */
  #notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .hidden {
    display: none;
  }